.navbar-default {
	background-color: #FFF;
	margin-bottom: 0px;
	height: 70px;
}

#navbar-no-loguejat {
	margin-top: 15px;
	width: 80%;
}

#navbar-no-loguejat > button {
	width: 45%;
}

#languages-bar {
	float: right;
}

#barra-buscador {
	margin-top: 15px;
}

#logo-and-user-bar {
	width: 100%;
}

.mapControls {
	position: absolute;
	z-index: 1;
	left: 100px; 
	top: 100px; 
	background-color:white; 
	width: 310px;
	border: #DDDDDD;
	border-width: thin;
	border-style: solid;
	padding: 10px;
}

.leaflet-top .leaflet-control {
	margin-top: 70px;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}
.wrapmiddle{
	float: left;
	width: 100%;
}
.middle{
	margin-right:500px;
	margin-left:362px;
}
.left{
	float: left;
	width: 362px;
	margin-left: -100%;
}
.right{
	float: left;
	width: 500px;
	margin-left: -500px;
}

.map {
	height:calc(100vh - 70px);;
}

body {
   padding: 0px;
   margin: 0px;
}

