@font-face {
  font-family: "lobster";
  src: url("../fonts/Lobster1.4.otf") format("opentype");
}

@font-face {
  font-family: "sisco";
  src: url("../fonts/Sisco-Book.otf") format("opentype");
}

html * {
  font-family: "sisco";
}

.lobster {
  font-family: "lobster";
}

.navbar-default {
	background-color: #FFF;
	margin-bottom: 0px;
	height: 80px;
  position:  relative;
}

#navbar-no-loguejat {
	margin-top: 20px;
  margin-left: 15px;
	max-width: 320px;
}

#navbar-no-loguejat > button {
	width: 45%;
}

#navbar-loguejat {
  margin-top: 5px;
  margin-left: 15px;
  max-width: 320px; 
}

#languages-bar {
	float: right;
}

#barra-buscador {
	margin-top: 15px;
}

#logo-and-user-bar {
	width: 100%;
}

.mapControls {
	position: absolute;
	z-index: 1;
	left: 100px; 
	top: 100px; 
	background-color:white; 
	width: 400px;
	border: #DDDDDD;
	border-width: thin;
	border-style: solid;
	padding: 10px;
	max-height: calc(60vh);
	overflow-x: hidden;
	overflow-y: auto;
  min-height: 435px;
}

.obsControls {
	position: absolute;
	z-index: 1;
	left: calc(100vw - 300px); 
	top: 300px; 
	background-color:white; 
	border: #DDDDDD;
	border-width: thin;
	border-style: solid;
	padding: 10px;
}

.leaflet-top .leaflet-control {
	margin-top: 70px;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}
.left{
	float: left;
	width: 600px;
}
.right{
	float: right;
}
.center{
  text-align:center;
}
#navbar-logo {
  float: right;
}

.languageSelector {
  display: none;
  margin-top: 20px;
  margin-left: 10px;
}

#languagesDiv {
  margin: 0; 
  min-width:250px;
}

@media (max-width: 1279px) {
  .languageList     { display: none; }
  .languageSelector { display: inline-block; }
  .left { width: 400px;}
  #languagesDiv {min-width: 60px;}
  #imgLogoBarra {margin-top: 14px; width: 55px;}
}

.map {
	height:calc(100vh - 80px);
}

.modalMap {
	height:calc(50vh);
}

body {
   padding: 0px;
   margin: 0px;
}

#contentModal .modal-body
{

	max-height: calc(80vh);
	overflow: auto;

}

.redCircle {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px; 
}

.greenCircle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #111;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 10001;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    z-index: 1002;
}

.spinner {
	width: 40px;
	height: 40px;

	position: absolute;
	top: 50%;
 	left: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.shadow {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}

.modal-rsp {
  max-width: 1200px;
	width: calc(80vw);
	max-height: calc(80vh);
}

.tab-completar { 
	width: 33%;
	padding: 10px;
	text-align: center;
	background-color: #EEE; 
}

.tab-completar.no-selected { background-color: #FFF; }

/* Apply these styles only when #preview-pane has
  been placed within the Jcrop widget */
  .jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: -200px;
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  }
  /* The Javascript code will set the aspect ratio of the crop
  area based on the size of the thumbnail preview,
  specified here */
  #preview-pane .preview-container {
    width: 170px;
    height: 170px;
    overflow: hidden;
  }
#preview-pane .preview-container {
  overflow: hidden;
}

#target { width: 450px; }

.arrow_box {
  position: relative;
  background: #eee;
  border: 2px solid #a2c856;
  border-radius: 2px;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.arrow_box:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #a2c856;
  border-width: 10px;
  margin-left: -10px;
}

.menu_box {
  position: absolute;
  top: 65px;
  left: 100%;
  margin-left: -275px;
  width: 200px;
  z-index: 1001;
  background: white;
}

.observedCircle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border: 1px solid #2a81cb;
  border-radius: 100px;
  background-color: #2a81cb;
}

.validatedCircle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border: 1px solid #66bd29;
  border-radius: 100px;
  background-color: #66bd29;
}

.iasTitleContainer {

  float: left;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  text-align: left;
  height: 170px;

}

.iasCommonName {
  font-size:32px; 
  color:#5cb85c; 
  font-weight: bold; 
}

.iasLatinName {
  color:#337ab7; 
  font-weight: bold; 
  font-size: 20px;
}

.iasTitleText {
  margin-top: 50px;
  margin-left: 15px;
}

.obsTitleText {
  margin-top: 0px;
  margin-left: 15px;
}

.dotted.active {
  height: 5px;
  width: 10px;
  border: 1px solid #337ab7;
  border-radius: 100px;
  background-color: #337ab7;
  margin-left: 15px;
  margin-top: 2px;
}

.alert-grey {
  color: #4B555A;
  background-color: #C7C9CA;
  border-color: #838C8E;
}

.icon-stack {
  position: relative;
  display: inline-block;
  width:1em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 34px;
  margin-left: -10px;
}

.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
  position: absolute;
  left: 14px;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
  left: 0px;
}
.icon-stack-2x {
  font-size: 1.5em;
}
.icon-stack-3x {
  font-size: 2em;
}